a.nav-link{
    padding:  30px;

}

a.nav-link 1{
    font-size: 15em;
}
body{
    background-image: url(/Img/G3.jpg);
}

#map {
    height: 400px;
    width: 100%;
}
 
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img.bd-placeholder-img{
    background-image: url(/Img/G1.jpg);
}

div.container{
    margin-top: 40px;

}